@keyframes loading {
  to{
    transform: rotate(360deg)
  }
}
.bg-green
  background-color #00985f
.bg-brown
  background-color #cc8859

.fg-green
  color #00985f
.notice
  transform translate3d(0,-10px,0)
  transition transform .2s
  will-change transform
  &.show
    transform translate3d(0,0,0)
.index
  .slide
    height 46vw
    img
      height 100%
      width 100%
  .text
    line-height: 16vw
    background url("../images/5.jpg") no-repeat center center
    background-size: 100% auto
  .about-us
    line-height: 1.5
  .products,.cases
    min-height: 10vh
  
.col-shrink
  flex-shrink 0
.line-1
  line-height 1em
.line-15
  line-height 1.5em
.indent
  text-indent 2em
.iconloading
  animation: loading 2s infinite linear;